body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: auto; /* Enable vertical scrolling for this container */

}

.start-page {
    background: url('public/img/chkobba.png') no-repeat center center fixed;
    background-size: 100%; /* Adjust the percentage as needed */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startButton {
    padding: 20px 35px;
    font-size: 18px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#startButton:hover {
    background-color: #45a049; /* Darker Green */
    transform: scale(1.05);
}

/*game style*/
.general-container { 
    display: grid;
    grid-template-columns: auto auto;
    height: 100vh;
    overflow: hidden;
}    

/* for tracking */
#tracking {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

}

#game-container {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    background: url('./public/img/table.png') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;

}
/* for computer */
.card-row {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 40px 0;
}
#computer-hand {
    display: flex;
    justify-content: center;
    gap : 20px;
}
#computer-hand img {
    width: 60px; /* Adjust the width as needed */
    height: auto;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    /* make cards color black so can't be seen*/
    filter: grayscale(100%);

}

#computer-hand img:hover {
    transform: scale(1.2);
}
/* for table */
#table {
  
    /* height: 85vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#table-cards {
    display: flex;
    gap: 10px; 
    padding: 20px; 
    flex-wrap: wrap;
    justify-content: center;
}

#table-cards div {
    width: 100px; 
    text-align: center;
}

#table-cards img {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;

}
.card-selected {
    border: 2px solid #4CAF50; 
    transform: scale(1.2); 
}

/* for player */

.player-hand{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
#player-hand {
    display: flex;
    justify-content: center;
    gap : 20px;

}
#player-hand img {
    width: 60px; /* Adjust the width as needed */
    height: auto;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;




}

#player-hand img:hover {
    transform: scale(1.2);
}


/* throw button */
#throwBtn {
    padding: 20px 35px;
    font-size: 18px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* eat button button */

#eatBtn , #runBtn , #playAgainBtn{
    padding: 20px 35px;
    font-size: 18px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* design the result page */
#result-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #68ad6b;
}

#score-table {
    width: 400px;
    height: 400px; 
    margin: 0 auto; 
    background-color: rgba(241, 239, 239, 0.6); 
    border-radius: 10px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

li {
    list-style: none;
    margin: 12px 60px 12px 0;
}

#score {
    font-size: 20px;
    font-weight: bold;
    color: #1f1f1f;
    margin: 0;
    padding: 0;
}
